[submodule "djinni-intellij-plugin"]
	path = djinni-intellij-plugin
	url = https://github.com/cross-language-cpp/djinni-intellij-plugin.git
	branch = main
[submodule "djinni-generator"]
	path = djinni-generator
	url = https://github.com/cross-language-cpp/djinni-generator.git
	branch = main
