:root {
  --md-primary-fg-color:        #FA915A;
  --md-accent-fg-color:         #DB5C20;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #FF7E54;
}

.md-search__input {
  background-color: rgba(255,255,255,0.15);
  border-radius: 0.9rem;
}

[data-md-toggle=search]:checked~.md-header .md-search__form, [data-md-toggle=search]:checked~.md-header .md-search__input {
  border-radius: 0.4rem 0.4rem 0 0;
}

.md-search__output {
  border-radius: 0 0 0.4rem 0.4rem;
}

.md-search__form {
  border-radius: 12rem;
  background-color: transparent;
}

.md-header-nav__button.md-logo {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .md-header-nav__button.md-logo img, .uml {
    filter: invert(1);
  }
}

.md-header-nav__button.md-logo img {
  width: 2rem;
  height: 2rem;
}

.md-header-nav__title {
  line-height: 2.5rem;
}

.md-search__input:hover {
  background-color: rgba(255,255,255,0.25);
}

.md-footer {
  margin-top: 3.5rem;
}

.md-content hr {
  border-bottom: .05rem solid var(--md-default-fg-color--lighter);
}

.md-nav__link {
  justify-content: flex-start;
  gap: 5px;
}

/* custom styles for social.html */

.md-footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0;
}

.md-footer-social__link {
  width: auto;
  height: auto;
  margin: .2rem .2rem;
  padding: .2rem .26rem;
  border: 1px solid var(--md-footer-fg-color--lighter);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.md-footer-social__link svg {
  height: .9rem;
  width: .9rem;
}

.md-footer-social__name {
  margin: 0 .26rem;
  font-size: .64rem;
}

/* custom version tags in sidebar navigation */

nav.md-nav a code, nav.md-nav label code {
  background: var(--md-code-bg-color);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 8pt;
  font-weight: normal;
}

/* don't show version tags in tabs navigation */

nav.md-tabs a code, div.md-footer-nav a code {
  display: none;
}
