:root {
  --md-primary-fg-color:        #FA915A;
  --md-accent-fg-color:         #DB5C20;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #FF7E54;
}

@media (prefers-color-scheme: dark) {
  :root>* {
    --md-code-bg-color: #373737;
    --md-code-fg-color: #DEDEDE;
    --md-primary-fg-color:  #FA915A;
    --md-accent-fg-color:  #f87e3c;
    --md-primary-bg-color: #242424;
    --md-default-bg-color: var(--md-primary-bg-color);
    --md-default-fg-color: #ffffff;
    --md-default-fg-color--light: #FBFBFB;
    --md-default-fg-color--lighter: #FBFBFB88;
    --md-typeset-kbd-color: rgb(26, 26, 26);
    --md-typeset-kbd-border-color: rgb(10, 10, 10);
    --md-typeset-kbd-accent-color: rgb(24, 24, 24);
  }
}

.md-search__input {
  background-color: rgba(255,255,255,0.15);
  border-radius: 12rem;
}

.md-header-nav__button.md-logo {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .md-header-nav__button.md-logo img, .uml {
    filter: invert(1);
  }
}

.md-header-nav__button.md-logo img {
  width: 2rem;
  height: 2rem;
}

.md-header-nav__title {
  line-height: 2.5rem;
}

.md-search__input:hover {
  background-color: rgba(255,255,255,0.25);
}

.md-footer {
  margin-top: 3.5rem;
}

.md-content hr {
  border-bottom: .05rem solid var(--md-default-fg-color--lighter);
}

/* custom styles for social.html */

.md-footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0;
}

.md-footer-social__link {
  width: auto;
  height: auto;
  margin: .2rem .2rem;
  padding: .2rem .26rem;
  border: 1px solid var(--md-footer-fg-color--lighter);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.md-footer-social__link svg {
  height: .9rem;
  width: .9rem;
}

.md-footer-social__name {
  margin: 0 .26rem;
  font-size: .64rem;
}
